## Collecting the data

In [6]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
import numpy as np

In [9]:
def fill_df(key,pages):
    df=pd.DataFrame(columns=["Title","Company","Company_Rating","Location","Salary","Date","Description"])
    for page in range(0,pages):
        url='https://mx.indeed.com/trabajo?q='+key+'&start='+str(page*10)
        html=requests.get(url)
        soup=bs(html.text,'html5lib')
        jobs=soup.find_all("div","job_seen_beacon")
        for job in jobs:
            try:
                title=job.find("h2","jobTitle").text
            except:
                title=np.nan
            try:
                company=job.find("span","companyName").text
            except:
                company=np.nan
            try:
                rating=job.find("span","ratingNumber").text
            except:
                rating=np.nan
            try:
                location=job.find("div","companyLocation").text
            except:
                location=np.nan
            try:
                salary=job.find("div","salary-snippet").text
            except:
                salary=np.nan
            try:
                date=job.find("span","date").text
            except:
                date=np.nan
            try:
                desc=job.find("div","job-snippet").text.strip()
            except:
                desc=np.nan
            df=df.append({"Title":title,"Company":company,"Company_Rating":rating,"Location":location,"Salary":salary,
                       "Date":date,"Description":desc},ignore_index=True)
        time.sleep(5)
    return df

In [12]:
jobs_df=fill_df("data",100)
jobs_df.tail()

,Title,Company,Company_Rating,Location,Salary,Date,Description
1481,Warehouse Material Operator,ABB,3.9,"San Luis Potosí, S. L. P.",NaN,Postedhace 30+ días,Maintaining complete and accurate data in the ...
1482,Sr. QA Engineer,Oportun Inc,NaN,"León, Gto.",NaN,Postedhace 26 días,This includes writing test cases based on busi...
1483,Production Scheduler,ABB,3.9,"Ramos Arizpe, Coah.",NaN,Postedhace 30+ días,In this role you will collate and evaluate dat...
1484,HR Process Lead - Employee Lifecycle Management,ABB,3.9,"San Luis Potosí, S. L. P.",NaN,Postedhace 30+ días,Advanced Excel in reporting and data analysis....
1485,Warehouse/Internal Logistics Operator,ABB,3.9,"San Luis Potosí, S. L. P.",NaN,Postedhace 30+ días,Maintaining complete and accurate data in the ...

In [14]:
jobs_df.to_csv("jobs.csv",index=False)