## Collecting the data

In [21]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

In [22]:
def fill_df(key,pages):
    df=pd.DataFrame(columns=["Title","Company","Company_Rating","Location","Salary","Date","Description"])
    for page in range(0,pages):
        url='https://mx.indeed.com/trabajo?q='+key+'&start='+str(page*10)
        html=requests.get(url)
        soup=bs(html.text,'html5lib')
        jobs=soup.find_all("div","job_seen_beacon")
        for job in jobs:
            try:
                title=job.find("h2","jobTitle").text
            except:
                title=np.nan
            try:
                company=job.find("span","companyName").text
            except:
                company=np.nan
            try:
                rating=job.find("span","ratingNumber").text
            except:
                rating=np.nan
            try:
                location=job.find("div","companyLocation").text
            except:
                location=np.nan
            try:
                salary=job.find("div","salary-snippet").text
            except:
                salary=np.nan
            try:
                date=job.find("span","date").text
            except:
                date=np.nan
            try:
                desc=job.find("div","job-snippet").text.strip()
            except:
                desc=np.nan
            df=df.append({"Title":title,"Company":company,"Company_Rating":rating,"Location":location,"Salary":salary,
                       "Date":date,"Description":desc},ignore_index=True)
            sleep(5)
    print(df.head())
    return df

In [23]:
fill_df("data",2).tail()

Empty DataFrame
Columns: [Title, Company, Company_Rating, Location, Salary, Date, Description]
Index: []

Empty DataFrame
Columns: [Title, Company, Company_Rating, Location, Salary, Date, Description]
Index: []

## Cleaning the data