## Collecting data

In [7]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
import numpy as np

In [8]:
def fill_df(key,pages):
    df=pd.DataFrame(columns=["Title","Company","Company_Rating","Location","Salary","Date","Description"])
    for page in range(0,pages):
        url='https://mx.indeed.com/trabajo?q='+key+'&start='+str(page*10)
        html=requests.get(url)
        soup=bs(html.text,'html5lib')
        jobs=soup.find_all("div","job_seen_beacon")
        for job in jobs:
            try:
                title=job.find("h2","jobTitle").text
            except:
                title=np.nan
            try:
                company=job.find("span","companyName").text
            except:
                company=np.nan
            try:
                rating=job.find("span","ratingNumber").text
            except:
                rating=np.nan
            try:
                location=job.find("div","companyLocation").text
            except:
                location=np.nan
            try:
                salary=job.find("div","salary-snippet").text
            except:
                salary=np.nan
            try:
                date=job.find("span","date").text
            except:
                date=np.nan
            try:
                desc=job.find("div","job-snippet").text.strip()
            except:
                desc=np.nan
            df=df.append({"Title":title,"Company":company,"Company_Rating":rating,"Location":location,"Salary":salary,
                       "Date":date,"Description":desc},ignore_index=True)
        time.sleep(5)
    return df

In [9]:
jobs_df=fill_df("data",300)
jobs_df.tail()

,Title,Company,Company_Rating,Location,Salary,Date,Description
4465,nuevo empleoTest Automation,iTjuana,NaN,"Querétaro, Qro.","$60,000 - $65,000 al mes",Postedhace 8 días,Implementing and testing web and mobile experi...
4466,Real Estate Call Center Rep.,Reliance Fund,NaN,"Tampico, Tamps.","$10,000 al mes",EmployerActivo hace 6 días,"We are looking for talented, driven, and sales..."
4467,Mobile Android Developer - Full Remote / Desar...,iTjuana,NaN,"Remoto in Monterrey, N. L.","$40,000 - $50,000 al mes",EmployerActivo hace 16 días,"You will write high quality code, using softwa..."
4468,Mobile Android Developer - Full Remote / Desar...,Insulet Corporation,NaN,"Remoto in Monterrey, N. L.+1 ubicación","$40,000 - $50,000 al mes",Postedhace 30+ días,"You will write high quality code, using softwa..."
4469,Oracle Applications Engineer,"Arrow Electronics, Inc.",3.5,"Tlaquepaque, Jal.",NaN,Postedhace 30+ días,Effective software and data troubleshooting sk...

In [10]:
jobs_df.to_csv("jobs.csv",index=False)