## Wrangling data

In [1]:
import pandas as pd
import numpy as np

In [82]:
jobs_df=pd.read_csv("jobs.csv")
jobs_df.head()

,Title,Company,Company_Rating,Location,Salary,Date,Description
0,Profesor Online,LatinHire,4.0,"Monterrey, N. L.",NaN,Contratación continua,Se busca estudiante o profesional con conocimi...
1,Billing Specialist - Work-From-Home,Hireframe,NaN,"Remoto in Monterrey, N. L.",NaN,Postedhace 21 días,You will be responsible for data collection an...
2,nuevo empleoBecario Data Science or Tableau,Turing Inteligencia Artificial,NaN,Remoto,NaN,Postedhace 5 días,Somos una empresa Consultora de Big Data en Mé...
3,nuevo empleoAuxiliar de marketing Jr.,Turing Inteligencia Artificial,NaN,Remoto,NaN,Postedhace 7 días,Somos una empresa Consultora de Big Data en Mé...
4,Data Analyst,CIMMYT,4.5,"Texcoco, Méx.",NaN,Postedhace 19 días,Run scripts to automate data input preparation...

In [83]:
jobs_df=jobs_df[jobs_df["Salary"].isnull()!=True]
jobs_df["Yearly"]=jobs_df["Salary"].apply(lambda x: 1 if 'al año' in x.lower() else 0)
jobs_df["Hourly"]=jobs_df["Salary"].apply(lambda x: 1 if 'por hora' in x.lower() else 0)
jobs_df.head(49)

,Title,Company,Company_Rating,Location,Salary,Date,Description,Yearly,Hourly
30,nuevo empleoAnalytics Data Entry Specialist - ...,Remoteco,NaN,Remoto,"$13,000 - $14,000 al mes",Postedhace 6 días,Maintains data entry requirements by following...,0,0
31,SEO Specialist / Data Analyst (Remoto-México),Remoteco,NaN,Remoto,"$19,000 - $20,000 al mes",EmployerActivo hace 14 días,"Job Types: Full-time, Permanent.",0,0
32,"Ejecutivo/a Comercial de TI, sin experiencia, ...",ATENCION AL CLIENTE Y VENTAS,3.9,"Remoto in Tlalpan, CDMX","$15,000 - $20,000 al mes",EmployerActivo hace 5 días,Identificación de Necesidad de acuerdo con el ...,0,0
33,Data Science,Ingenes,3.1,"Álvaro Obregón, CDMX","$20,000 - $25,000 al mes",EmployerActivo hace 6 días,Únete a este gran proyecto sumando con tu tale...,0,0
36,nuevo empleoData Analyst,Glitzi,NaN,"Cuauhtémoc, CDMX","$15,000 - $20,000 al mes",Postedhace 5 días,Extracción de información de base de datos en ...,0,0
39,OFFICE MANAGER,ATENCION AL CLIENTE Y VENTAS,3.9,"Cuauhtémoc, CDMX","$25,000 - $50,000 al mes",Postedhace 11 días,This person must have at least three (3) years...,0,0
40,Data Analyst Junior,Mensch México,NaN,"Remoto in Miguel Hidalgo, CDMX","$14,000 al mes",Postedhace 27 días,"Publicidad, Mercadotecnia, Estadística, Matemá...",0,0
42,nuevo empleoData Analyst,Consultoría en Sistemas,4.8,"Remoto in Guadalajara, Jal.","$40,000 - $50,000 al mes",Postedhace 4 días,Data Analytics con conocimientos en data wareh...,0,0
44,nuevo empleoConsultor BI (MicroStrategy) - Remoto,Kodefree,NaN,"Benito Juárez, CDMX","$50,000 al mes",EmployerActivo hace 6 días,3+ años de experiencia en análisis de datos.\n...,0,0
48,Prácticas/Residencias Data Science,Cross Border Xpress,4.0,"Tijuana, B.C.",$300 al día,EmployerActivo hace 6 días,"Cross Border Xpress ""CBX"" es el Proyecto trans...",0,0
50,Digital Marketing Analyst (Remoto - Mexico),Remoteco,NaN,Remoto,"$20,000 - $29,000 al mes",EmployerActivo hace 3 días,"Excellent Excel and data analysis skills, able...",0,0
51,Inside Sales Representative,TelQuest International,NaN,Remoto,"$42,000 - $80,000 al año",EmployerActivo hace 7 días,"Ability to document, organize and summarize da...",1,0
53,"Data Engineer Operations (remoto, inglès conve...",Selecciona Talento,NaN,"Los Mochis, Sin.","$60,000 al mes",EmployerActivo hace 8 días,"Utilize best practices for data governance, da...",0,0
56,nuevo empleoAdministrative Assistant,Lot Squared Development,NaN,"Remoto temporalmente in Ciudad Universitaria, ...","$18,000 al mes",EmployerActivo hace 2 días,Entering data into our systems.\n We are looki...,0,0
58,nuevo empleoANALISTA DE MEJORA CONTINUA Jr.,Trejo & Asociados,NaN,"Álvaro Obregón, CDMX","$13,000 al mes",PostedRecién publicado,Analizar y monitorear los indicadores de Calid...,0,0
59,Remote - Executive Assistant,Homevault PM,NaN,"Remoto in Guadalajara, Jal.","$24,000 - $28,000 al mes",EmployerActivo hace 5 días,Entering data and uploading documents to our m...,0,0
77,nuevo empleoAuxiliar de Recursos Humanos,Turing Inteligencia Artificial,NaN,Remoto,"$5,000 - $8,000 al mes",Postedhace 7 días,Somos una empresa Consultora de Big Data en Mé...,0,0
80,nuevo empleoWanted Marketing Assistant (with w...,Remoteco,NaN,Remoto,"$9,000 - $10,000 al mes",EmployerActivo hace 5 días,Report data from the client’s website.\n We ar...,0,0
84,nuevo empleoData Engineer bilingüe para sector...,CONSULTORIA PEÑA GUERRERO,NaN,"Cuauhtémoc, CDMX","$11,111 - $11,112 al mes",Postedhace 4 días,Gran conocimiento en la manipulación de data w...,0,0
86,E-Commerce Associate,TelQuest International,NaN,Remoto,"$35,000 - $40,000 al año",EmployerActivo hace 7 días,Must be proficient with Microsoft Excel (you w...,1,0
151,Data Engineer Software,Atcon,NaN,"Tlalpan, CDMX","$50,000 - $60,000 al mes",EmployerActivo hace 7 días,Un mínimo de dos años de lenguajes de programa...,0,0
153,Consultant - Business Analyst,Genpact,NaN,Remoto,"$25,000 al mes",Postedhace 30+ días,The position of Business Analyst role for Cox ...,0,0
166,Bookkeeper (Remoto - Mexico),Remoteco,NaN,Remoto,"$15,000 - $16,000 al mes",EmployerActivo hace 4 días,\* Essential data entry experience for starter...,0,0
178,Data warehouse,Noralogic,NaN,"Miguel Hidalgo, CDMX","$45,000 - $55,000 al mes",Contratación continua,"Conocimiento práctico de Collibra (workflow, c...",0,0
195,Auxiliar de Marketing-Remoto,Turing Inteligencia Artificial,NaN,Remoto,"$5,000 - $8,000 al mes",EmployerActivo hace 6 días,Somos una empresa Consultora de Big Data en Mé...,0,0
197,nuevo empleoAnalista de Información/ Dominio e...,Segmenta,4.3,"Naucalpan, Méx.","$12,000 - $16,000 al mes",Postedhace 6 días,\*Control de calidad de los resultados del pro...,0,0
198,nuevo empleoData Engineer - Home Office,Experis,3.5,"Remoto in Benito Juárez, CDMX","$50,000 - $60,000 al mes",EmployerActivo hace 7 días,Resolver desafíos con la ayuda de datos y tecn...,0,0
202,Químico Analista,Pfizer,4.2,"Toluca, Méx.","$18,000 al mes",EmployerActivo hace 4 días,Disponibilidad para rolar turnos (08:00 a 17:0...,0,0
204,nuevo empleoDatapower,GRUPO LEEWAY,NaN,"Remoto in Cuauhtémoc, CDMX","$45,000 al mes",PostedRecién publicado,Vivir o sin problema en trasladarse a CDMX.,0,0
315,TRAINEE DE CUENTAS (MARKETING DIGITAL),KEDMA COSMETICS,NaN,"Miguel Hidalgo, CDMX","$7,000 al mes",Postedhace 20 días,Apoyo en la operación de las diferentes plataf...,0,0
318,nuevo empleoDesarrollador DataPower,GRUPO LEEWAY,NaN,"Remoto in Azcapotzalco, CDMX","$40,000 - $45,000 al mes",PostedRecién publicado,Vivir o sin problema en trasladarse a CDMX.,0,0
320,Data Engineer,TekProvider,NaN,"Aguascalientes, Ags.+1 ubicación","$35,000 - $40,000 al mes",EmployerActivo hace 14 días,"Conocimiento de bases de datos Big Data, SQL, ...",0,0
323,Gerente de Ciencia en Datos,CPA VISION,2.0,"Miguel Hidalgo, CDMX+1 ubicación","$55,000 - $62,000 al mes",EmployerActivo hace 5 días,CPA Visión* es una empresa de tecnología espec...,0,0
327,nuevo empleoData Analyst,Capital Empresarial Horizonte,NaN,"Guadalajara, Jal.","$30,000 - $50,000 al mes",Postedhace 3 días,"Escolaridad: * Ingeniería en Sistemas, Informá...",0,0
328,Bookkeeper (Remote),Gordian Staffing,NaN,"Remoto temporalmente in Guadalajara, Jal.","$15,000 - $20,000 al mes",EmployerActivo hace 5 días,"Facilitate invoicing: data entry, transmitting...",0,0
329,Analista de facturacion,Neolpharma,3.6,"Azcapotzalco, CDMX","$12,979 al mes",Postedhace 26 días,"Disponibilidad para rolar turnos (mañana, tar...",0,0
349,Data Center Operator,SGF Global,3.9,Ciudad de México,"$30,000 al mes",Postedhace 30+ días,The working days preferences for this role are...,0,0
357,Desarrollador Python,SPEEDFC S DE RL DE CV,NaN,"Querétaro, Qro.","$40,000 - $70,000 al mes",EmployerActivo hace 3 días,Command line programs for maintenance and data...,0,0
359,Gerente de Marketing,Morton Subastas SA de CV. Ciudad de México,NaN,"11000, Colonia Lomas de Chapultepec, CDMX","$60,000 al mes",EmployerActivo hace 4 días,Dirigir al área de Diseño y administrar sus ca...,0,0
375,Writer,JANA Engineering Services de Mexico.,NaN,"Querétaro, Qro.","$16,000 al mes",EmployerActivo hace 4 días,Fact-check any data collected during the resea...,0,0
376,Data Engineer,Servicios Integrales W,NaN,"Azcapotzalco, CDMX","$77,000 al año",Postedhace 30+ días,"Conocimiento de bases de datos Big Data, SQL, ...",1,0
377,Profesor Online,LatinHire,4.0,"Monterrey, N. L.",$175 - $325 por hora,Contratación continua,Se busca estudiante o profesional con conocimi...,0,1
382,Staff Accountant,MD Medical Group,NaN,"Remoto in Monterrey, N. L.","$20,000 - $35,000 al mes",EmployerActivo hace 7 días,Excellent analytical skills to manage large am...,0,0
406,nuevo empleo136 Business Analyst gobierno de d...,ASTECI,NaN,"Cuauhtémoc, CDMX","$30,000 - $34,000 al mes",Postedhace 3 días,Business Analyst en Gobierno de datos*.\n Lice...,0,0
435,nuevo empleoEjecutivo Comercial TI,INTEGRADORES EN TICS S.A DE C.V,NaN,"Cuauhtémoc, CDMX","$25,000 al mes",Postedhace 6 días,Esta vacante viene de la bolsa de empleo Talen...,0,0
452,Data Warehouse,GRUPO THS,NaN,"Tijuana, B.C.","$45,000 al mes",EmployerActivo hace 15 días,"Investigar, analizar, respaldar e implementar ...",0,0
460,Service Desk N1 Jr,Kata Software,NaN,"Álvaro Obregón, CDMX","$7,000 - $8,000 al mes",Postedhace 30+ días,"Tenemos presencia en Colombia, Ecuador y Perú....",0,0
461,Influencer Marketing and Content Creator,TopFoxx,NaN,"Guadalajara, Jal.",$144 - $246 por hora,EmployerActivo hace 4 días,"Ability to analyze metrics, revenue and additi...",0,1
462,Data Engineer Analytics,Selecciona Talento,NaN,"Miguel Hidalgo, CDMX","$60,000 al mes",Postedhace 27 días,*Design and build maintainable and scalable in...,0,0

In [84]:
salary=jobs_df["Salary"].apply(lambda x: x.split('al')[0]).apply(lambda x: x.split('por')[0])
salary.head()

30    $13,000 - $14,000
31    $19,000 - $20,000
32    $15,000 - $20,000
33    $20,000 - $25,000
36    $15,000 - $20,000
Name: Salary, dtype: object

In [85]:
rm_char=salary.apply(lambda x: x.replace('$','').replace(',',''))
rm_char.head()

30    13000 - 14000
31    19000 - 20000
32    15000 - 20000
33    20000 - 25000
36    15000 - 20000
Name: Salary, dtype: object

In [86]:
jobs_df["Min_Salary"]=rm_char.apply(lambda x:x.split('-')[0])
jobs_df["Max_Salary"]=rm_char.apply(lambda x: x.split('-')[1] if '-' in x.lower() else x)
jobs_df.head()

,Title,Company,Company_Rating,Location,Salary,Date,Description,Yearly,Hourly,Min_Salary,Max_Salary
30,nuevo empleoAnalytics Data Entry Specialist - ...,Remoteco,NaN,Remoto,"$13,000 - $14,000 al mes",Postedhace 6 días,Maintains data entry requirements by following...,0,0,13000,14000
31,SEO Specialist / Data Analyst (Remoto-México),Remoteco,NaN,Remoto,"$19,000 - $20,000 al mes",EmployerActivo hace 14 días,"Job Types: Full-time, Permanent.",0,0,19000,20000
32,"Ejecutivo/a Comercial de TI, sin experiencia, ...",ATENCION AL CLIENTE Y VENTAS,3.9,"Remoto in Tlalpan, CDMX","$15,000 - $20,000 al mes",EmployerActivo hace 5 días,Identificación de Necesidad de acuerdo con el ...,0,0,15000,20000
33,Data Science,Ingenes,3.1,"Álvaro Obregón, CDMX","$20,000 - $25,000 al mes",EmployerActivo hace 6 días,Únete a este gran proyecto sumando con tu tale...,0,0,20000,25000
36,nuevo empleoData Analyst,Glitzi,NaN,"Cuauhtémoc, CDMX","$15,000 - $20,000 al mes",Postedhace 5 días,Extracción de información de base de datos en ...,0,0,15000,20000